[project]
	description = "Stupid simple caching library for C#"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefan Nuxoll (snuxoll)
[access "refs/for/refs/*"]
	read = group user/Stefan Nuxoll (snuxoll)
	push = group user/Stefan Nuxoll (snuxoll)
	label-Code-Review = -2..+2 group user/Stefan Nuxoll (snuxoll)
	label-Verified = -1..+1 group user/Stefan Nuxoll (snuxoll)
	rebase = group user/Stefan Nuxoll (snuxoll)
	removeReviewer = group user/Stefan Nuxoll (snuxoll)
	submit = group user/Stefan Nuxoll (snuxoll)
[access "refs/heads/*"]
	read = group user/Stefan Nuxoll (snuxoll)
	create = group user/Stefan Nuxoll (snuxoll)
	push = +force group user/Stefan Nuxoll (snuxoll)
	pushMerge = group user/Stefan Nuxoll (snuxoll)
[access "refs/tags/*"]
	push = +force group user/Stefan Nuxoll (snuxoll)
	pushTag = group user/Stefan Nuxoll (snuxoll)
	pushSignedTag = group user/Stefan Nuxoll (snuxoll)
